@media screen and (max-width: 950px) {
  .responsiveNavbarDesktop{
    display: none;
  }
  .responsiveFavouriteListDesktop{
    display: none;
  }
  .responsiveListItemDesktop{
    display: none;
  }
  .responsiveCreateDesktop{
    display: none;
  }
}



@media screen and (min-width: 950px) {
  .responsiveNavbarMobile{
    display: none;
  }
  .responsiveFavouriteListMobile{
    display: none;
  }
  .responsiveListItemMobile{
    display: none;
  }
  .responsiveCreateMobile{
    display: none;
  }
}



.MuiAppBar-colorPrimary {
  background-color: white !important;
}






















/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
